
  /* Estilos para la sección de búsqueda */
  .search-section {
    width:30%;
    background-color: #eeeeeea7;
    padding: 1px;
    box-sizing: border-box;
     
  }
  
  .search-section h2 {
    color: #092C50;
    margin-bottom: 2px;
  }
  
  .search-box {
    margin-top: 1%;
    margin-bottom: 4px;
    flex-grow: 1;
  }
  
  .search-box input[type="text"],
  .search-box input[type="number"],
  .search-box input[type="date"],
  .search-box select,
  .search-box select:focus {
    background-color: #ffffff;
    padding: 5px;
    color: #092C50;
    font-family: Arial, sans-serif;
    font-size: small;
    border: 1px solid #007bff;
    margin-bottom: 4px;
    width: 68%;
  }
  
  .search-box button {
    padding: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }

  .search-box table {
    min-width: 290px;
    padding: 0%;
    font-size: x-small;
  }

  .search-box-table {
    overflow-y: auto; /* Habilita el desplazamiento vertical si es necesario */
    max-width: 310px;
    max-height: 290px;
    padding: 0px;
  }

  .search-box table thead th {
    border-bottom: 1.5px solid #007bff;
    table-layout: fixed;
  }

  table thead th {
    position: sticky;
    font-size: small;
    text-align: center;
    top: 3;
    background-color: #fff; /* Fondo blanco para que destaque */
    z-index: 1; /* Asegura que la cabecera esté por encima de las celdas */
  }
  
  .search-box button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para la tabla de resultados */
  .search-section table {
    border-collapse: collapse;
    transform: scale(1);/*reducir el porcentaje del tamaño de la tabla*/
    min-width: 290px;
    /*transform: scale(0.96);/*esto es para reducir el porcentaje del tamaño de la tabla*/
  }
  
  .search-section table, 
  .search-section table th, 
  .search-section table td {
    border: 1px solid #092C50;
    background-color: #ffffff;
  }
  
  .search-section table th,
  .search-section table td {
    text-align: left;
    padding: 1px;
    color: #092C50;
  }
  
  .search-section table th {
    background-color: #092C50;
    color: white;
  }

  .search-section button {
    padding: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }

  .search-section button:hover {
    background-color: #0056b3;
  }

  .search-section button.imagenb {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
  }

  .search-section button:hover.imagenb  {
    background-color: #bed8f381;
  }

  .search-section button.imagen-seleccionada {
    .imagen-boton { 
    background-color: #108b22ac;
    border: none;
    cursor: pointer;
    text-align: center;
    }
  }

  .imagen-boton {
    width: 15px;
    height: 15px;
  }
  
  /* Estilo para la sección de detalles */
  .details-section {
    width:fit-content;
    max-width: 925px;
    background-color: #ffffff;
    padding: 3px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    box-sizing: border-box;
    flex-grow: 2;
  }
  
  .details-section label {
    margin-right: 30px;
    font-weight: bold;
    color: #092C50;
  }
  
  .details-section select,
  .details-section button {
    margin-right: 10px;
  }
  
  /* Estilo para la tabla de detalles de sala */
  .details-section table {
    width: 99%;
    border-collapse: collapse;
    margin-top: 2px;
    margin-left: 5px;
    max-width:max-content;
    color: #092C50;
    font-size: small;
  }
  
  .details-section table,
  .details-section table th,
  .details-section table td {
    border: 0.5px solid #092C50;
  }
 
  .details-section table th,
  .details-section table td {
    text-align: center;
    padding: 3px;
  }
  
  .details-section table th {
    background-color: #092C50;
    color: white;
  }
  
  /* Botones de cambio de semana */
  .details-section button {
    padding: 5px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .details-section button:hover {
    background-color: #0056b3;
  }

  .details-section .boton-modulo-seleccionado {
    background-color: #FFCC33; /* Color de fondo para botones de módulos seleccionados */
    color: white; /* Color del texto */
  }

  .details-section .boton-modulo-seleccionado:hover {
    background-color: #c48b1a; /* Color de fondo para botones de módulos seleccionados */
    color: white; /* Color del texto */
  }

  /* Estilos para la tabla */
.table-modulos {
  width: 60%;
  border-collapse: collapse;
  text-align: left;
}

.table-modulos th, .table-modulos td {
  border: 1px solid #ddd;
  padding: 5px;
}

/* Estilo para las cabeceras de la tabla */
.table-modulos thead th {
  background-color: #092C50;
  color: white;
}

/* Estilo para las subcolumnas de 'Módulo' */
.table-modulos th.subcolumna, .table-modulos td.subcolumna {
  border-right: none; /* Elimina el borde derecho de la columna */
}

.table-modulos td.subcolumna:last-child {
  border-right: 1px solid #ddd; /* agrega el borde derecho a la última subcolumna */
}

/* Estilo para la fila del encabezado de 'Módulo' */
.table-modulos th[colSpan="2"] {
  text-align: center;
}

/* mejorar la visualización de las filas */
.table-modulos tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-modulos tr:hover {
  background-color: #ddd;
}

.div-centrado {
  width: 33%; /* ancho */
  margin:  auto; /* Centra el div horizontalmente */
  padding: 10px;
}

.titulo-disp-salas {
  width: 100%;
  text-align: left;
  margin-right: 10px;
  font-weight: bold;
  background-color: #092C50; /* color de fondo*/
  color: white;
  position: fixed;
  z-index: 100; /* alto z-index */
  padding: 9px 15px; /* ajustar padding */
}

.disp-salas-container {
  display:flex;
  justify-content:flex-start;/* space-around;*/
  align-items: flex-start; /* ajustar la alineación vertical */
  margin-top: 20px; /* ajustar */
}




